{% extends "admin/change_form.html" %}
{% load i18n admin_urls subadmin_tags %}

{% block breadcrumbs %}
<div class="breadcrumbs">
{% subadmin_breadcrumbs %}
&rsaquo; {% if has_change_permission %}<a href="{% subadmin_url 'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}

{% block object-tools-items %}
    {% for link in subadmin_links %}
    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
    {% endfor %}
    <li>
        {% subadmin_url 'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}

{% endblock %}

{% block submit_buttons_bottom %}{% subadmin_submit_row %}{% endblock %}